.cardSection {
    background: var(--ifm-background-color);
    padding: 2rem 0;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .cardContainer {
    padding-left: 0;
    padding-right: 0;
    max-width: 80%;
    transition: max-width 0.3s ease;
  }
  
  @media (max-width: 1200px) {
    .cardContainer {
      max-width: 92%;
    }
  }
  
  .cardHeader {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 20px;
  }
  
  .cardIcon {
    color: #FF7209;
    scale: 85%;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .cardTitle h3 {
    color: #FF7209;
    font-size: 30px;
    padding-right: 80px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .cardBody p {
    color: var(--ifm-font-color-base);
    margin-top: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 300;
  }
  
  .headerWithLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  .headerIcon {
    content: url('/img/logos/DIN Symbol On Light.svg');
    width: 40px;
    height: 40px;
  }
  
  html[data-theme="dark"] .headerIcon {
    content: url('/img/logos/DIN Symbol On Dark.svg');
  }
  
  .heading {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--ifm-font-color-base);
    margin-bottom: 30px;
  }
  
  .headerArrow {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    color: #FF7209;
  }
  
  .card_glow {
    position: relative;
    background-color: var(--ifm-card-background-color);
    color: var(--ifm-font-color-base);
    border-radius: 8px;
    border: none;
    overflow: visible;
    transform: scale(1);
    min-height: 270px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }

  .card_glow:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgb(0 0 0 / 30%);
  }
  
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .button {
    background: #FF7209;
    height: 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    transition: all 0.3s ease;
    color: white;
  }
  
  .button:hover {
    background-color: #FF9040;
  }
  
  .card__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Dark mode adjustments */
  html[data-theme='dark'] .card_glow {
    background-color: #0f1128;
    border: 1px solid #1D3857;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  html[data-theme='dark'] .cardContainer {
    padding: 20px;
    border-radius: 8px;
  }

  html[data-theme='dark'] .cardSection {
    background-color: #0f1128;
  }